script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js")
script(src="/socket.io/socket.io.js")
script.
    var socket = io(); 
    socket.on('chat message', function(msg) {
        alert(msg);
    });

    //const socket = io.connect("http://localhost:1453/rooms");
    $(() => {
        let socketId = "";
        socket.on("loginClient", data => {
            let html = "";
            $.each(data, (i, n) => html += `<li style="cursor: pointer;" class="client">${n}</li>`);
            $("#allClients").html(html);
        });

        socket.on("sendSocketId", data => $("#thisSocketId").html(data));
        socket.on("refres", data => window.location.reload(false))

        $("body").on("click", ".client", () => {
            $("#txtSocketId").val(`Target Client : ${$(event.target).html()}`);
            socketId = $(event.target).html();
        });

        $("#btnSendMessage").click(() => {
            socket.emit("sendMessage", {
                socketId,
                message: $("#txtMessage").val()
            });
        });

        socket.on("messages", data => {
            if (!data.self)
                $("#messages").append(`<li><strong style="color: green;">${data.socketId}</strong> : ${data.message}</li>`);
            else
                $("#messages").append(`<li><strong>${data.socketId}</strong> : ${data.message}</li>`);
            $("#txtMessage").val("");
        });
    });

    sayac = 0;
    var nesne=document.getElementById("nesne");
    var nesne2=document.getElementById("cardziya");
    var nesne3=document.getElementById("cardziyaa");
    var nesne4=document.getElementById("cardziyaaa");
    skor= 0;
    sayac2 = 0;
    //- cziya.onmouseover=function(e)
    //- {
    //-     cziya.style.left=500 +"px";
    //-     cziya.style.top =500+"px";
    //- }
    nesne.onmouseover=function(e)
    {
        if (sayac == 0){
            var xpos=parseInt(Math.random()*-200);
            var ypos=parseInt(Math.random()*-150);
            sayac=1;
            sayac2++
        }else{
            var xpos=parseInt(Math.random()*200);
            var ypos=parseInt(Math.random()*-100);
            sayac=0
            sayac2++
        }
        if(skor>20){
            console.log(xpos + " : " + ypos);
            nesne.style.left=xpos +"px";
            nesne.style.top =ypos+"px";
            
        }
        //- if(sayac2==7){
        //-     alert("Kaydet butonuna basabilmeniz için 20 adet kuş vurmalısnız.")
        //- }
        
    }

    function bird_click(event){
        skor++;
        console.log(skor);
        document.querySelector('#ziya').classList.add('bird-container-ziya');
        document.getElementById('skor').innerHTML = skor;

        var xpos = event.clientX;
        var ypos = event.clientY;
        console.log(xpos + " : " + ypos)
        nesne2.style.left=(xpos-30) +"px";
        nesne2.style.top =(ypos-20)+"px";
        document.querySelector('#cardziya').classList.add('birdnewclass');

        setTimeout(bird,999);
        function bird() {
            document.querySelector('#cardziya').classList.remove('birdnewclass');
            nesne2.style.left=-1000 +"px";
            nesne2.style.top =20+"px";
        }

        setTimeout(aaa,5000);
        function aaa() {
            document.querySelector('#ziya').classList.remove('bird-container-ziya');
        }

    }
    function bird_click1(event){
        skor++;
        console.log(skor);
        document.getElementById('skor').innerHTML = skor;
        document.querySelector('#ziya1').classList.add('bird-container-ziya');

        var xpos = event.clientX;
        var ypos = event.clientY;
        console.log(xpos + " : " + ypos)
        nesne2.style.left=(xpos-30) +"px";
        nesne2.style.top =(ypos-20)+"px";
        document.querySelector('#cardziya').classList.add('birdnewclass');

        setTimeout(bird,999);
        function bird() {
            document.querySelector('#cardziya').classList.remove('birdnewclass');
            nesne2.style.left=-1000 +"px";
            nesne2.style.top =20+"px";
        }

        setTimeout(aaa,5000);
        function aaa() {
        document.querySelector('#ziya1').classList.remove('bird-container-ziya');
        }
    }
    function bird_click2(event){
        skor++;
        console.log(skor);
        document.querySelector('#ziya2').classList.add('bird-container-ziya');
        document.getElementById('skor').innerHTML = skor;

        var xpos = event.clientX;
        var ypos = event.clientY;
        console.log(xpos + " : " + ypos)
        nesne2.style.left=(xpos-30) +"px";
        nesne2.style.top =(ypos-20)+"px";
        document.querySelector('#cardziya').classList.add('birdnewclass');

        setTimeout(bird,999);
        function bird() {
            document.querySelector('#cardziya').classList.remove('birdnewclass');
            nesne2.style.left=-1000 +"px";
            nesne2.style.top =20+"px";
        }

        setTimeout(aaa,5000);
        function aaa() {
        document.querySelector('#ziya2').classList.remove('bird-container-ziya');
        }
    }
    function bird_click3(event){
        skor++;
        console.log(skor);
        document.querySelector('#ziya3').classList.add('bird-container-ziya');
        document.getElementById('skor').innerHTML = skor;

        var xpos = event.clientX;
        var ypos = event.clientY;
        console.log(xpos + " : " + ypos)
        nesne2.style.left=(xpos-30) +"px";
        nesne2.style.top =(ypos-20)+"px";
        document.querySelector('#cardziya').classList.add('birdnewclass');

        setTimeout(bird,999);
        function bird() {
            document.querySelector('#cardziya').classList.remove('birdnewclass');
            nesne2.style.left=-1000 +"px";
            nesne2.style.top =20+"px";
        }

        setTimeout(aaa,5000);
        function aaa() {
        document.querySelector('#ziya3').classList.remove('bird-container-ziya');
        }
    }
block script
